<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile | SwapNext</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/userPages/updateProfile.css">
</head>
<body>

    
        <form action="/api/v1/users/updateProfile" method="POST" enctype="multipart/form-data">
            <input type="file" name="avatar">
            <button type="submit">upload</button>
        </form>

    </div>
</div>

        </div>
    </div>

    <script src="/SCRIPT/formValidation.js"></script>
    <script src="/SCRIPT/navBar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    
    
</body>
</html>