<footer class="mt-5 border-top bg-light">
    <div class="container py-4">
        <div class="row gy-4">
            <div class="col-12 col-md-4 text-center text-md-start">
                <div class="d-flex align-items-center justify-content-center justify-content-md-start mb-2">
                    <i class="fa-solid fa-repeat me-2" style="color: #fe424d; font-size: 1.2rem;"></i>
                    <span style="color: #fe424d; font-weight: bold; font-size: 1.2rem; letter-spacing: -1px;">swapnest</span>
                </div>
                <p class="text-muted small">© 2026 SwapNest Inc. All rights reserved.</p>
            </div>

            <div class="col-6 col-md-4 text-center">
                <ul class="list-unstyled d-flex flex-wrap justify-content-center gap-3 mb-0">
                    <li><a href="#" class="footer-link">Privacy</a></li>
                    <li><a href="#" class="footer-link">Terms</a></li>
                    <li><a href="#" class="footer-link">Sitemap</a></li>
                    <li><a href="#" class="footer-link">Company details</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-4 text-center text-md-end">
                <div class="d-flex justify-content-center justify-content-md-end gap-3">
                    <a href="#" class="text-dark"><i class="fa-brands fa-square-facebook fs-5"></i></a>
                    <a href="#" class="text-dark"><i class="fa-brands fa-square-twitter fs-5"></i></a>
                    <a href="#" class="text-dark"><i class="fa-brands fa-square-instagram fs-5"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

